__pycache__/
*.pyc
.venv/
venv/
env/

data/*.pt

*.log

evaluation_results/*
!evaluation_results/
!evaluation_results/D50_2_8/
!evaluation_results/D50_2_8/**
!evaluation_results/D50_DD/
!evaluation_results/D50_DD/**
!evaluation_results/D100_2_4/
!evaluation_results/D100_2_4/**
!evaluation_results/result.json
!evaluation_results/table2_eval.json

*.backup
*.backup2
*.pre_publish_backup
